:root {
	--black: #000;
	--white: #fff;
	--yellow: #ffd600;
	--gray1: #333;
	--gray2: #4f4f4f;
	--gray3: #828282;
	--gray4: #bdbdbd;
	--gray5: #e0e0e0;
	--gray6: #f2f2f2;
	--bigFont: 64px;
}
@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}
* {
	font-family: "Pretendard-Regular";
}
